body
{

}


#login
{
    padding: 0px 0px 0px 0px;
    top: -54px;
    float: right;
    z-index: 10;
    right: 0%;
    position: relative;
}

#login a
{
    text-decoration: underline;
    color: rgb(204, 204, 204);
}

#header
{
    margin: auto;
    text-align: center;
}

#menu
{
    color: #FFFFFF;
    text-align: center;
}

#content
{
    text-align: left;
    font-size: 16px;
}

.button
{
-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f9f9f9');
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border: 1px solid rgb(185, 185, 185);
	display:inline-block;
	color:#616161;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
    width: 250px;
    color: #7a7a7a;
    background-color: rgb(249, 249, 249);
    
    
padding-top: 6px;
text-align: center;
    
padding-bottom: 6px;
    
}
.button:hover
{
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color: #dfdfdf;
}
.button:active
{
    position: relative;
}
.button[disabled]
{
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f0f0f0) );
    background: -moz-linear-gradient( center top, #ffffff 5%, #f0f0f0 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0');
    background-color: #ffffff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #ffffff;
    display: inline-block;
    color: #e3e3e3;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

h1
{
    color: #333333;
}


h3
{
    color: #333333;
}
h4
{
    text-align: left;
    color: #808080;
}

p
{
    font-size: medium;
}


.tbStyle
{
    width: 400px;
}

.cblStyle
{
    font-size: medium;
}

/*Calendar settings*/
#calendarTable
{
    border: thin solid #000000;
}
#calendarTable tr
{
    border: thin solid #000000;
}

#calendarTable tr td
{
    border: thin solid #000000;
}
#calendarTable tr td p
{
    text-align: center;
}
.buttonGo
{
    text-decoration: none;
    color: #000000;
    font-size: large;
}

.PrevMonth
{
    float: left;
    text-align: left;
    z-index: 0;
    margin-left: 73px;
}

.today
{
    margin: 0 auto;
    text-align: center;
    z-index: -1;
    width: 13.7%;
}

.today span
{
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.NextMonth
{
    text-align: right;
    float: right;
    z-index: 10;
    margin-right: 20px;
}

#week
{
    width: 100%;
}

#week tr
{
    padding: -1px;
}

#week tr td
{
    text-align: left;
    width: 10%;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}
.calendar
{
    border: 1px outset #cccccc;
    padding: 1em;
    margin: 1em;
    width: 90%;
         background: url(../images/bg-controls.png);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

.newWeek
{
    line-height: 166px;
}

.DaysOfWeek
{
    background-color: rgb(144, 192, 255);
    width: 100.08%;
}

.calendarMonthSelector
{
    padding-top: 10px;
    padding-bottom: 13px;
    background-color: rgb(96, 142, 201);
    width: 100.08%;
    -moz-border-radius: 20px;    
    -webkit-border-radius: 20px;    
    -khtml-border-radius: 20px;    
    border-radius: 20px 20px 0px 0px;
}
.calendarMonthSelector a
{
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.calendarDay
{
    margin: 0em;
    background-color: white;
    font-size: smaller;
    width: 14.285714285714285714285714285714%;
    float: left;
    height: 180px;
    padding-top: -2px;
    overflow-y: scroll;
    scrollbar-shadow-color: #2D2C4D;
    scrollbar-highlight-color: #7D7E94;
    scrollbar-3dlight-color: #7D7E94;
    scrollbar-darkshadow-color: #2D2C4D;
    scrollbar-track-color: #7D7E94;
    scrollbar-arrow-color: #C1C1D1;
    outline: solid rgb(144, 192, 255) 1px; 1px;        
    outline-offset: 0px;
}

.CalendarItemsSpanExercises{
    color: CornflowerBlue; 
    margin-top: 10px; 
    position: relative;
    padding-top: -13px;
    top: 7px;
}

.CalendarItemsSpanRoutines{
    color: MediumBlue; 
    margin-top: 10px; 
    position: relative;
    padding-top: -13px;
    top: 7px;
}

.event
{
    margin: 0.25em auto 0.25em 1em;
    padding: 0.1em;
}
.important
{
    font-weight: bold;
    color: #990000;
}
.alternate
{
}

.scheduleChoice
{
width: 46%;
margin-left: 27%;
position: relative;
padding: 24px;
-webkit-border-radius: 20px;  
border-radius: 20px;
margin-bottom: 20px;
text-align: center;
}

.scheduleExerciseForm
{
width: 46%;
margin-left: 27%;
position: relative;
padding: 24px;
-webkit-border-radius: 20px;  
border-radius: 20px;
margin-bottom: 20px;
background: url(../images/bg-controls.png);
}

.scheduleExerciseForm
{
    width: 46%;
margin-left: 27%;
position: relative;
padding: 24px;
-webkit-border-radius: 20px;  
border-radius: 20px;
margin-bottom: 20px;
background: url(../images/bg-controls.png);
}

.date
{
font-style: normal;
text-decoration: none;
font-family: 'Arial Black';
color: #000000;
font-weight: lighter;
margin-left: -1px;
margin-top: 0px;
padding-left: 5px;
padding-right: 8px;
padding-top: 2px;
position: absolute;
background-color: rgb(255, 255, 255);
width: 22px;
height: 18px;
font-size: 13px;
-moz-border-radius: 20px;  -webkit-border-radius: 20px;  -khtml-border-radius: 20px;  
border-radius: 0px 20px 20px 20px;  
background-color: rgb(144, 192, 255);
  z-index: 1;
}

.events
{
    margin-left: 5px;
    display: block;
}

.scheduleTable tr td
{
    width: 250px;
    vertical-align: top;
}

.loadingCalendar
{
    position: absolute;
    width: 50%;
    left: 25%;
    text-align: center;
    top: 60%;
    background: rgb(54, 25, 25); /* Fall-back for browsers that don't                                support rgba */
    background: rgba(128, 128, 128, .5);
    color: #000000;
   -moz-border-radius: 20px;
   -webkit-border-radius: 20px;
   -khtml-border-radius: 20px;
    border-radius: 20px;
}
.loadingCalendar h1
{
    z-index: 5;
}







.scheduleTable
{

}
.description
{
    height: 100px;

    width: 240px;
    vertical-align: top;
}

.rowWidth
{
    vertical-align:top;
    width: 100px;
    height:100px;
}