body
{
    background-image: url('../images/paper.jpg');
}


#login
{
    padding: 10px 0px 0px 0px;
    top: 0px;
    position: absolute;
    float: right;
    z-index: 10;
    right: 0%;
}

#header
{
    margin: auto;
    text-align: center;
}

#menu
{
    color: #FFFFFF;
    text-align: center;
}

#content
{
    text-align: left;
}

.button
{
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color: #ededed;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #7a7a7a;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    width: 250px;
}
.button:hover
{
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color: #dfdfdf;
}
.button:active
{
    position: relative;
    top: 1px;
}
.button[disabled]
{
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f0f0f0) );
    background: -moz-linear-gradient( center top, #ffffff 5%, #f0f0f0 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0');
    background-color: #ffffff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #ffffff;
    display: inline-block;
    color: #e3e3e3;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

h1
{
    color: #333333;
}


h3
{
    color: #333333;
}
h4
{
    text-align: left;
    color: #808080;
}

p
{
    font-size: medium;
}

#newExerciseForm
{
}
newExerciseForm, tr
{
    border-style: none;
    width: 300px;
}

newExerciseForm, tr, td
{
    border-style: none;
    width: 200px;
}

.tbStyle
{
    width: 400px;
}

.cblStyle
{
    font-size: medium;
}

#calendarTable
{
    border: thin solid #000000;
}
#calendarTable tr
{
    border: thin solid #000000;
}

#calendarTable tr td
{
    border: thin solid #000000;
}
#calendarTable tr td p
{
    text-align: center;
}
.buttonGo
{
    text-decoration: none;
    color: #000000;
    font-size: large;
}

.PrevMonth
{
    float: left;
    text-align: left;
    z-index: 0;
}

.today
{
margin: 0 auto;
text-align: center;
z-index: -1;
}

.NextMonth
{
    text-align: right;
    float: right;
    z-index: 10;
}

#week
{
    width: 100%;
}

#week tr
{
}

#week tr td
{
    text-align: left;
    width: 13.6%;
    color: #FFFFFF;
    font-weight: bolder;
}
.calendar
{
    background-color: #eeeeee;
    border: 1px outset #cccccc;
    padding: 1em;
    margin: 1em;
    width: 90%;
}

.DaysOfWeek
{
    border: 1px solid #999999;
    padding: 0.25em;
    background-color: #aa0000;
    width: 97.5%;
}

.calendarMonthSelector
{
    border: 1px solid #999999;
    padding: 0.25em;
    background-color: #aa0000;
    width: 97.5%;
}
.calendarMonthSelector a, span
{
    color: white;
    font-weight: bold;
}
.calendarDay
{
    border: 1px solid #999999;
    margin: 0em;
    background-color: white;
    font-size: smaller;
    padding: 0.1em;
    width: 13.6%;
    float: left;
    height: 125px;
    overflow-y: scroll;
    scrollbar-face-color: #000000;
    scrollbar-shadow-color: #2D2C4D;
    scrollbar-highlight-color: #7D7E94;
    scrollbar-3dlight-color: #7D7E94;
    scrollbar-darkshadow-color: #2D2C4D;
    scrollbar-track-color: #7D7E94;
    scrollbar-arrow-color: #C1C1D1;
}
.event
{
    margin: 0.25em auto 0.25em 1em;
    padding: 0.1em;
}
.important
{
    font-weight: bold;
    color: #990000;
}
.alternate
{
}

#scheduleChoice
{
}
.date
{
    font-style: normal;
    text-decoration: none;
    font-family: 'Arial Black';
    color: #C0C0C0;
    font-weight: lighter;
    margin-left: 4px;
}

.events
{
    margin-left: 5px;
    display: block;
}

.scheduleTable tr td
{
    width: 250px;
    vertical-align: top;
}

.loadingCalendar
{
    position: absolute;
    width: 50%;
    left: 25%;
    text-align: center;
    top: 60%;
    background: rgb(54, 25, 25); /* Fall-back for browsers that don't                                support rgba */
    background: rgba(128, 128, 128, .5);
    color: #000000;
}
.loadingCalendar h1
{
    z-index: 5;
}
